@import "../../scss/index.scss";

.settings{
  margin: 50px 100px 0 100px;

  > h1{
    font-size: 40px;
    margin-bottom: 50px;
  }

  .avatar-name{
    display: flex;
    align-items: center;

    .user-avatar{
      display: table;
      margin: 0 !important;
      border: 2px solid #9a9a9a;
      border-radius: 100px;
      border-style: dashed;
      padding: 10px;
      margin-bottom: 20px;

      .ui.image{
        width: 100px;
        border-radius: 50px;
      }
    }

    .user-name{
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      h2{
        margin: 0 20px !important;
      }

      i{
        cursor: pointer;
      }
    }

  }

  .user-email,
  .user-password{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    h3{
      margin: 0;
      
      span{
        color: $primary-color;
        margin-left: 5px;
      }
    }

    i{
      cursor: pointer;
    }

  }

}